body {
  background-color: #336699;
  font-family: Roboto, sans-serif;
  overflow-x: hidden;
}

section {
  padding: 0px 50px 50px 50px;
  background-color: #336699;
}

img {
  padding: 25px;
}

dd {
  margin: 10px;
  background-color: #ccc;
  padding: 10px;
}

dd:hover {
  background-color: #333;
  color: white;
  cursor: pointer;
}

.spacer {
    margin-top: 40px; /* define margin as you see fit */
}


.title-menu {
  background-color: black;
  padding: 25px;
  color: #eee;
  margin-bottom: 20px;
}

.title-menu a{
  color:inherit;
  text-decoration: none;
  padding: 5px;
  background-color: #336699;
}

.title-menu a:hover{
  background-color: #333;
  text-decoration: none;
  color: #eee;
}

.title-menu img{
  width: auto;
  height: 315px;
}

.section-title p {
  font-size: 2.5em;
  font-weight: bold;
  color: #eee;
}

.video-menu {
  background-color: #333;
  padding: 25px 25px 50px 25px;
  color: #eee;
}

.video-holder {
  height: 315px !important;
  width: auto !important;
  margin: 50px 0 0 0;
  background-color: #333;
}

.video-holder iframe, .video-holder object, .video-holder embed {
	width:100%;
	height:100%;
}

.bookmark-menu {
  background-color: #eee;
  padding: 25px;
  color: black;
}

.bookmark {
  padding: 5px;
  font-weight:normal;
}

@media (max-width: 500px) {

  section {
    padding: 0px 15px 50px 15px;
  }

  .section-title p {
    font-size: 2em;
    font-weight: bold;
    color: #eee;
  }

  .title-menu img{
    height: 225px;
    width: auto;
  }

  .video-menu h2{
    font-size: 1.5em;
  }

  .video-holder {
    height: 225px !important;
    width: auto !important;
  }

  .video-holder iframe, .video-holder object, .video-holder embed {
  	width:100%;
  	height:100%;
  }
}
